# Configuration File
general {
    # Enable Particles
    B:particlesEnabled=true
    
    # Self explanatory
    B:trainsOnTheBrain=true
    
    # What unit to display speed in (kmh, ms, mph)
    S:speedUnit=kmh
    
    # What unit to display pressure in (psi, kpa, bar)
    S:pressureUnit=bar
    
    # What unit to display temperature in (celcius, kelvin, farenheit)
    S:temperatureUnit=celcius
    
    # What unit to display locomotive power in (w, kw, ps (metric horsepower), horsepower (imperial horsepower))
    S:powerUnit=kw
    
    # What unit to display locomotive traction force in (kn, n, lbf)
    S:forceUnit=kn
    
    # How long to keep textures in memory after they have left the screen (higher numbers = smoother game play, lower numbers = less GPU memory used)
    I:textureCacheSeconds=30
    
    # Show text tooltips over interactable components
    B:interactiveComponentsOverlay=true
    
    # Show stock variants in JEI/NEI/Creative search
    B:stockItemVariants=false
    
    # Override OptiFine Shaders for entities
    S:OptiFineEntityShader=Entities
    
    # Override Optifine Shader for all entities (not just ones that have specular/normal maps)
    B:OptifineEntityShaderOverrideAll=false
    
    # How far away stock needs to be to switch to a smaller LOD texture
    D:StockLODDistance=64.0
    
    # 0.0 is no sway, 1.0 is default sway
    D:StockSwayMultiplier=1.0
    
    # How likely a piece of stock is to sway (1 == always, 10 == infrequent)
    I:StockSwayChance=1
    
    # Settings used in the stock user interfaces
    settings {
    }
    
    # Mouse Scroll Speed (negative values invert it)
    F:ScrollSpeed=1.0
    
    # Try to fake interior lighting for locomotives/passenger cars that are being ridden
    B:FakeInteriorLighting=true
    
    # Disable headlights' texture render
    B:DisableLightTextureRender=false
    
    # The track's maximum visibility range
    D:TrackRenderDistance=256.0
    
    # Should semi-transparent parts render? Disable this if you are experiencing problems with semi-transparent parts when using a Shader
    B:RenderSemiTransparentParts=true
    
    # Change scroll mode between 'ALL', 'ONLY_ROT_TRANSLATION' (allow scrolling only for rotations and translations) or 'NONE' (prevent scrolling on all parts).
    S:scrollMode=ALL
    
}
